---
layout: default-without-header
---
<div class="home">
  <div class="home-content-wrapper">
    <div class="home-primary-content">
      <h1 class="site-title">{{ site.title }}</h1>
      <div class="site-tagline">{{ site.tagline }}</div>
      <div class="index-link-wrapper">
        {% include icon-github.html %}
        {% include icon-linkedin.html %}
        <a href="/writing/" class="icon-link">Writing</a>
      </div>
      <div class="divider"></div>
    </div>
    <div class="index-bio-wrapper">
      <div class="index-bio">
        {{ site.bio }} <a class="bio-link" href="/about">Learn more</a>
      </div>
    </div>
  </div>
</div>
