<div class="newsletter-form-container container-fluid">
  <form style="border:1px solid #e6e6e6;border-radius: 5px; padding:20px 10px;text-align:center;" class="row" action="https://tinyletter.com/kanenathan213" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/kanenathan213', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <div><label for="tlemail" class="col-sm-4">Get my posts by email</label></div>
    <div class="col-sm-5"><input type="text" style="width:80%" placeholder="my_email@emailer.com" name="email" id="tlemail" /></div>
    <input type="hidden" value="1" name="embed"/>
    <div class="submit-wrapper col-sm-1">
      <input type="submit" value="Subscribe"/>
    </div>
  </form>
</div>
