/**
 * Site header
 */
.site-header {
    background: $brand-color;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    .header-content {
      align-items: center;
      padding: $spacing-unit*1.5 $spacing-unit;
      display: flex;
      justify-content: space-between;
      color: white;

      .header-title-content {
          flex-basis: 41%;
      }

      .header-bio-content {
          flex-basis: 55%;
      }

      @include media-query($on-palm) {
        flex-direction: column;

        .header-title-content {
          text-align: center;
          .link-wrapper {
            justify-content: center;
          }
        }

        .header-bio-content {
            margin-top: $spacing-unit;
        }
        .header-title-content {
            border-right: none;
        }
      }
    }
}

.site-title {
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-transform: uppercase;

    &,
    &:visited {
        color: white;
    }

    &:hover {
      text-decoration: none;
    }
}

.header-title-content {
  border-right: 1px solid rgba(white, 0.3);

  .icon-link {
    color: rgba(white,0.5);
    transition: color .2s ease-out;

    &:hover {
      color: white;
    }
  }

  .link-wrapper {
    display: flex;
    font-size: 0.9rem;
    margin-top: 5px;
    justify-content: flex-start;
    align-items: center;
    * {
      padding-right: 5px;
    }
  }
}

.header-bio-content {
  font-size: 0.9rem;
  line-height: 1.2rem;
  a {
    color: white;
    text-decoration: underline;
  }
}

.site-tagline {
  color: rgba(white, 0.5);
  margin-top: 5px;
  font-size: 1.15rem;
  font-style: italic;
  letter-spacing: 0.01rem;
}

.icon-link, .logo-link {
  &:hover {
    text-decoration: none;
  }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        &.active {
          text-decoration: underline;
        }
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {

    .wrapper {
      padding: $spacing-unit 0;
      border-top: 1px solid $grey-color-light;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    text-align: center;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;
    font-size: 18px;
}

@include media-query($on-palm) {
    .page-content {
        font-size: 14px;
    }
}

.page-heading {
    font-size: 20px;
}

.post {
  padding-top: $spacing-unit;
}

.post-list {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;

    .post-item {

        &:last-child {
          border-bottom: 0;
        }

        a:hover {
          text-decoration: none;
        }

        h2 {
          margin-bottom: 0;
          line-height: 38px;
        }
    }
}

.post-meta {
    color: $grey-color;
    font-size: $small-font-size;
    text-transform: uppercase;
}

.post-link {
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: $spacing-unit/2 0;
    transition: color .2s ease-out, transform .2s ease-out;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $brand-color;
      transform: translateX(5px);
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        line-height: 36px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.about-section {
  margin-top: $spacing-unit;
}

.prof-pic {
  border-radius: 50%;
  margin: $spacing-unit auto;
  height: 200px;
  width: 200px;
  background-image: url('/assets/563b1eba2d0980521287581f_nathan-small-dup.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.project-step {
  margin: $spacing-unit*2 0;

  img {
    display: block;
    margin: auto;
    border: 1px solid rgba(black,0.1);
    border-radius: 10px;
  }
}

.project-hero-image {
  margin: auto auto $spacing-unit*2;
}

.project-overview {
  border-left: 3px solid $brand-color;
  border-right: 3px solid $brand-color;
  padding: $spacing-unit 0;
  background: $brand-color;
  color: white;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.project-question {
  font-size: 3rem;
  line-height: 3.2rem;
  text-align: center;
  padding: $spacing-unit 0;
}

.caption-wrapper {
  margin: 10px 0;
}

.caption-title {
  font-weight: bolder;
}

.project-nav {
  border-top: 5px solid $brand-color;
  text-align: center;
  width: 100%;
  .wrapper {
    padding: $spacing-unit/2 0;
    border-bottom: 1px solid rgba(black, 0.2);
  }
}

.home {
  background:
    linear-gradient(rgba(0, 24, 43, 0.8), rgba(0, 24, 43, 0.8)),
    url('../../assets/whiteboard.jpeg');
  min-height: 70vh;
  padding-top: $spacing-unit*2;
}

.project-container {
  background-image: linear-gradient(to bottom, white, #ececec);
  border-radius: 60px;
  display: flex;
  padding: 20px 20px;
  margin-bottom: $spacing-unit/2;
  transition: transform 0.2s ease-out;
  &:hover {
    cursor: pointer;
    transform: translate(5px);
  }
  .project-link {
    font-size: 1.8rem;
    margin-top: 5px;
  }

  @include media-query($on-palm) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .project-link {
      font-size: 1.2rem;
    }
  }
}

.project-link-image {
  max-width: 70px;
}

.project-container-link-wrapper {
  color: $text-color;
  &:visited {
    color: $text-color;
  }
  &:hover {
      text-decoration: none;
    }
}

.project-link-text-wrapper {
  margin-left: $spacing-unit/2;
  @include media-query($on-palm) {
    margin-left: 0;
  }
}

.project-link-tagline {
  color: rgba($text-color, 0.7);
}

.hidden-projects {
  display: none;
}

.toggle-projects-list {
  text-align: right;
  padding: $spacing-unit/2 $spacing-unit $spacing-unit;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.posts-lists-container {
  border-bottom: 1px solid rgba(black, 0.1);
  display: flex;
  margin-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  * {
    flex-basis: 50%;
    padding-right: $spacing-unit/2;
  }
  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.all-posts-link {
  display: block;
  text-align: right;
  padding: $spacing-unit/2 0;
  &:hover {
    text-decoration: none;
    color: $brand-color;
  }
}

.post-back-link {
  border-bottom: 1px solid rgba(black, 0.1);
  display: block;
  padding: $spacing-unit $spacing-unit/2 $spacing-unit/2;
  transition: transform 0.2s ease-out;

  &:hover {
    text-decoration: none;
    color: $brand-color;
    transform: translate(-5px);
  }
}

.writing-title {
  margin-top: $spacing-unit/2;
}
