---
layout: default
title: Writing
permalink: /writing/
---
<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}

        <li class="post-item">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <h2>
            {{ post.title }}
          </h2>
          <span class="post-meta">{{ post.author }} • </span>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </a>
        </li>

    {% endfor %}
  </ul>

</div>
