---
layout: default-without-header
---
{% assign all_projects = site.data.projects %}
{% assign project = all_projects[page.project_id] %}
<div class="project-nav">
  <div class="wrapper">
    <a class="back-link" href="/">Nathan Kane</a>
    >
    <span class="back-link">{{ project.title }}</span>
  </div>
</div>
  <section class="project-section">
    <div class="project-content">
      <div class="wrapper">
        <div class="project-question">{{ project.question }}</div>
        <img src="{{ project.hero_image_path }}" class="project-hero-image">
      </div>
      <div class="project-overview">
        <div class="wrapper">
        {{ project.overview }}
        </div>
      </div>
      <div class="wrapper">
        {% for step in project.steps %}
          <div class="project-step">
            <img alt='project step' src='{{ step.screenshot_url }}'>
            <div class="caption-wrapper">
              <span class="caption-title">{{ step.caption_title }}.</span>
              <span class="caption">{{ step.caption }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
  </section>
